.question {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  flex: 1;
  height: 100%;
}

.answer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* width: 100%; */
  flex: 3;
  /* margin-top: 100px;
                    margin-bottom: 100px; */
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  height: 50px;
  /* padding: 10px; */
  font-size: 20px;
}

.options.option1 {
  order: 3;
}

.options.option2 {
  order: 1;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 50px; */
  flex: 1;
  font-size: 50px;
  /* z-index: 999; */
  padding: 5px;
  text-decoration: none;
}

/* .nav.back {
  justify-content: flex-start;
}

.nav.next {
  justify-content: flex-end;
} */

input[type='range'] {
  -webkit-appearance: slider-vertical;
  writing-mode: bt-lr;
  /* IE */
  /* transform: rotate(270deg); */
  flex: 3;
  order: 2;
  /* height: 60vh; */
  /* z-index: -1; */
}

input[type='range']::-webkit-slider-runnable-track {
  /* height: 30px; */
  width: 30px;
  background: cornflowerblue;
  border: none;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 45px;
  width: 45px;
  /* border-radius: 50%; */
  background: blueviolet;
  margin-left: -7.5px;
}

input[type='range']:focus {
  outline: none;
}

input[type='range']:focus::-webkit-slider-runnable-track {
  background: #ccc;
}
